@media screen and (max-width: 1440px) {
  .about section {
    width: 100%;
    flex-direction: column;
  }
  #secondSection {
    flex-direction: column-reverse;
  }
  .about section div {
    width: 100%;
    margin: 0 auto;
    padding: 40px;
  }
  .about div:nth-of-type(2) img,
  .about div:nth-of-type(1) img {
    width: 100%;
  }
  #firstSection div:nth-of-type(1),
  #secondSection div:nth-of-type(2),
  #thirdSection div:nth-of-type(1) {
    padding: 40px 240px;
  }
}

@media screen and (max-width: 1300px) {
  .sidebar {
    display: none;
  }
  #fourthSection {
    padding: 40px;
  }
}

@media screen and (max-width: 1024px) {
  img,
  hr {
    width: 100%;
  }
  #firstSection div:nth-of-type(1),
  #secondSection div:nth-of-type(2),
  #thirdSection div:nth-of-type(1) {
    padding: 40px;
  }
}

@media screen and (max-width: 768px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  p,
  ol,
  ul,
  blockquote,
  hr {
    width: 100%;
    padding: 0 20px;
  }
  p,
  blockquote,
  ol,
  ul {
    font-size: 24px;
    line-height: 32px;
  }
  h1 + p {
    font-size: 26px;
  }
  h1 {
    font-size: 42px;
    line-height: 48px;
  }
  h2 {
    font-size: 36px;
    line-height: 40px;
  }
  h3 {
    font-size: 32px;
    line-height: 36px;
  }
  h4 {
    font-size: 30px;
    line-height: 32px;
  }
  h5 {
    font-size: 26px;
    line-height: 28px;
  }
  .menubar {
    flex-direction: column;
    font-size: 30px;
    gap: 12px;
  }
  #fourthSection h2,
  #fourthSection p {
    text-align: left;
  }
  #fourthSection div {
    flex-direction: column;
    padding: 0;
  }
  #fourthSection a {
    font-size: 26px;
    padding: 30px;
  }
  .index section {
    margin-top: 110px;
  }
  .index .card {
    width: calc(100% - 20px);
  }
  .index .cardImg {
    height: 26vw;
  }
}
@media screen and (max-width: 500px) {
  .index .card {
    width: 100%;
  }
  .index .cardImg {
    height: 96vw;
  }
}
@media screen and (min-width: 1680px) {
  .index section {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .index .card {
    width: 40vw;
  }
  .index .card.big {
    min-height: 34.6vw;
  }
  .index .card.small {
    min-height: 17.03vw;
  }
}
@media screen and (min-width: 1920px) {
  .index .card {
    width: 30vw;
  }
}
