/* общие стили для страницы */

* {
  box-sizing: border-box;
}
html { 
  scroll-behavior: smooth;
}
body {
  font-family: "PT Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
p,
ol,
ul,
blockquote,
hr {
  width: 700px;
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "PT Sans Caption", sans-serif;
  font-weight: bold;
}

p,
blockquote,
ol,
ul {
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 30px;
}

img {
  width: 1024px;
  margin: 0 auto;
  display: block;
}

/* h1 + hr + p {
  color: rgba(0, 0, 0, 0.4);
  font-size: 22px;
} */

a {
  color: inherit;
}

h1 {
  margin: 50p auto;
  font-size: 38px;
  line-height: 44px;
}

h2 {
  margin-top: 40px;
  font-size: 32px;
  line-height: 36px;
}

h3 {
  margin-top: 36px;
  font-size: 28px;
  line-height: 32px;
}
h4 {
  margin-top: 32px;
  font-size: 24px;
  line-height: 28px;
}
h5 {
  margin-top: 28px;
  font-size: 22px;
  line-height: 24px;
}

hr {
  width: 1024px;
  margin: 20px auto;
}

h2 + hr + p h3 + hr + p h4 + hr + p h5 + hr + p {
  margin-top: 10px;
}

ul {
  list-style-type: disc;
  padding-left: 30px;
}
ol {
  list-style-type: decimal;
  padding-left: 30px;
}
li {
  margin: 8px 0;
}

blockquote {
  font-style: italic;
  position: relative;
}

blockquote::before {
  content: "";
  width: 2px;
  height: 100%;
  background-color: #000;
  position: absolute;
  top: 0;
  left: -17px;
} 
/* 
стили для бокового меню  */

.sidebar {
  width: 300px; 
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 50px;
  opacity: 0.3;
  transition: all ease 0.3s;
  
}
.sidebar:hover {
opacity: 1;
transition: all ease 0.6s;
}

.sidebar ol ol {
  color: rgba(0, 0, 0, 0.4);
}
.sidebar ol {
  list-style-type: none;
  width: 100%;
  margin: 0;
  font-size: 15px;

}
.sidebar li {

  line-height: 100%;
}
.sidebar a { 
  text-decoration: none;
}

/* стили для верхнего меню  */
.menubar {
width: 100%;
display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 10px 20px;
 position: fixed;
 top: 0;
 left: o;
}
.menubar img {
  width: 350px;
  margin: 0;

}
.menubar a {
text-decoration: none;
color: rgba(0, 0, 0, 0.4);
}
.menubar a:hover {
 color: #000;

}

/* стили для about.html */
/* .about::before {
  content: ""; 
  width: 1440px;
  height: 3120px;
  position: absolute;
  top: 0;
  left: calc(50% - 720px);
  background-image: url("../images/1440.png");
  opacity: 0.2;
} */
.about { 
  overflow-x: hidden;
}

.about section {
  display: flex;
  width: 1440px;
  justify-content: space-between;
  margin: 0 auto;
}

.about section div {
  width: 48%;
  /* overflow: hidden; */
}
.about h2 {
  font-weight: 400;
  width: 100%; 
  font-size: 38px;
  line-height: 46px;
  margin: 0;
}

.about p {

  width: 100%;
  font-size: 26px;
  line-height: 36px;
  margin: 26px 0;
}
.about div:nth-of-type(1) img {
  width: 1100px;
}
.about div:nth-of-type(2) img {
  width: 700px;
}
#firstSection { 
  margin-top: 138px;
}
#firstSection div:nth-of-type(1) {
 padding: 40px 0 0 168px;
}

#secondSection { 
  margin-top: 90px;
} 
#secondSection div:nth-of-type(2) {
padding: 60px 60px 0 10px;
}
#firstSection, 
#thirdSection {
  margin-top: 138px;
}

#thirdSection div:nth-of-type(1){
  padding: 10px 0 0 168px;
}

#thirdSection img {
 border-left: 1px solid #eee;
}
#thirdSection  {
  border-bottom: 1px solid #eee;
}

/*


body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(255, 255, 255);
}

.container {
  margin: 15px;
}

h1 {
  margin-top: 80px;
  font-weight: bold;
  margin-bottom: 36px;
  font-size: 21px;
}

.img {
  margin: 90px 0 90px 0;
}

h2 {
  margin-top: 56px;
  font-weight: bold;
  margin-bottom: 36px;
  font-size: 17px;
}

h3 {
  margin-top: 52px;
  font-weight: bold;
  margin-bottom: 36px;
  font-size: 15px;
}

h4 {
  margin-top: 52px;
  font-weight: bold;
  margin-bottom: 36px;
  font-size: 15px;
}

p {
  margin-top: 36px;
  margin-bottom: 32px;
  line-height: 23px;
  font-size: 11px;
}
.mainText {
  color: rgb(121, 121, 121);
  font-size: 12px;
} */
