body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(255, 255, 255);
}
.container {
  margin: 15px;
}

h1 {
  margin-top: 80px;
  font-weight: bold;
  margin-bottom: 36px;
  font-size: 21px;
}

.img {
  margin: 90px 0 90px 0;
}

h2 {
  margin-top: 56px;
  font-weight: bold;
  margin-bottom: 36px;
  font-size: 17px;
}

h3 {
  margin-top: 52px;
  font-weight: bold;
  margin-bottom: 36px;
  font-size: 15px;
}

h4 {
  margin-top: 52px;
  font-weight: bold;
  margin-bottom: 36px;
  font-size: 15px;
}

p {
  margin-top: 36px;
  margin-bottom: 32px;
  line-height: 23px;
  font-size: 11px;
}
.mainText {
  color: rgb(121, 121, 121);
  font-size: 12px;
}
