* {
  box-sizing: border-box;
}

body {
  font-family: "PT Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
p,
ol,
ul,
blockquote,
hr {
  width: 700px;
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "PT Sans Caption", sans-serif;
  font-weight: bold;
}

p,
blockquote,
ol,
ul {
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 30px;
}

img {
  width: 1024px;
  margin: 0 auto;
  display: block;
}

/* h1 + hr + p {
  color: rgba(0, 0, 0, 0.4);
  font-size: 22px;
} */

a {
  color: inherit;
}

h1 {
  margin: 50p auto;
  font-size: 38px;
  line-height: 44px;
}

h2 {
  margin-top: 40px;
  font-size: 32px;
  line-height: 36px;
}

h3 {
  margin-top: 36px;
  font-size: 28px;
  line-height: 32px;
}
h4 {
  margin-top: 32px;
  font-size: 24px;
  line-height: 28px;
}
h5 {
  margin-top: 28px;
  font-size: 22px;
  line-height: 24px;
}

hr {
  width: 1024px;
  margin: 20px auto;
}

h2 + hr + p h3 + hr + p h4 + hr + p h5 + hr + p {
  margin-top: 10px;
}

ul {
  list-style-type: disc;
  padding-left: 30px;
}
ol {
  list-style-type: decimal;
  padding-left: 30px;
}
li {
  margin: 8px 0;
}

blockquote {
  font-style: italic;
  position: relative;
}

blockquote::before {
  content: "";
  width: 2px;
  height: 100%;
  background-color: #000;
  position: absolute;
  top: 0;
  left: -17px;
}
/*

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(255, 255, 255);
}

.container {
  margin: 15px;
}

h1 {
  margin-top: 80px;
  font-weight: bold;
  margin-bottom: 36px;
  font-size: 21px;
}

.img {
  margin: 90px 0 90px 0;
}

h2 {
  margin-top: 56px;
  font-weight: bold;
  margin-bottom: 36px;
  font-size: 17px;
}

h3 {
  margin-top: 52px;
  font-weight: bold;
  margin-bottom: 36px;
  font-size: 15px;
}

h4 {
  margin-top: 52px;
  font-weight: bold;
  margin-bottom: 36px;
  font-size: 15px;
}

p {
  margin-top: 36px;
  margin-bottom: 32px;
  line-height: 23px;
  font-size: 11px;
}
.mainText {
  color: rgb(121, 121, 121);
  font-size: 12px;
} */
